.header {
  padding-top: 40px;
  padding-bottom: 40px;
}
.header .top {
  display: flex;
  padding-bottom: 40px;
}
.header .top .logo {
  cursor: pointer;
}
.header .top .search {
  width: 475px;
  height: 45px;
  margin-left: 219px;
  margin-right: 168px;
  border: 1px solid #dbdbdb;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.header .top .search input {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}
.header .top .search img {
  position: absolute;
  right: 20px;
  top: 12px;
  cursor: pointer;
}
.header .top .right_ico > ul {
  display: flex;
  gap: 33px;
}
.header .top .right_ico > ul > li {
  position: relative;
}
.header .top .right_ico > ul > li:nth-child(3):after {
  position: absolute;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "1";
  background-image: url(../image/Ellipse2.png);
  background-size: 17px 17px;
  top: -6px;
  right: 5px;
  width: 17px;
  height: 17px;
  z-index: 9999;
}
.header .top .right_ico > ul > li a {
  display: flex;
  flex-direction: column;
  height: 52px;
  align-items: center;
  justify-content: space-between;
}
.header .top .right_ico > ul > li a img {
  display: block;
}
.header .top .right_ico > ul > li a img.cart {
  position: relative;
  width: 28px;
}
.header .top .right_ico > ul > li a span {
  font-size: 12.9px;
  font-weight: 500;
  color: #234169;
  white-space: nowrap;
}
.header .top .right_ico > ul > li.user_ab {
  margin-left: 10px;
}
.header .top .right_ico > ul > li.user_ab a {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.header .top .right_ico > ul > li.user_ab a ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 44px;
  display: none;
}
.header .top .right_ico > ul > li.user_ab a ul li {
  width: 100px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #d3d9e1;
  font-size: 14px;
  overflow: hidden;
  font-weight: 700;
}
.header .top .right_ico > ul > li.user_ab a ul li:nth-child(1).active {
  background-color: #e9ecf0;
  color: #234169;
}
.header .top .right_ico > ul > li.user_ab a ul li:nth-child(2).active {
  background-color: #e6e1de;
  color: #84685a;
}
.header .top .right_ico > ul > li.user_ab a ul li:nth-child(1) {
  border-radius: 3px 3px 0 0;
}
.header .top .right_ico > ul > li.user_ab a ul li:nth-child(2) {
  border-radius: 0 0 3px 3px;
}
.header .top .right_ico > ul > li.user_ab.user_ab:hover ul {
  display: block;
}
.header .bottom {
  width: 100%;
  height: 50px;
  background-color: #6a84c2;
}
.header .bottom .gnb {
  display: flex;
  height: 100%;
  flex-direction: row;
  gap: 67px;
}
.header .bottom .gnb li a {
  display: flex;
  align-items: center;
  height: 100%;
}
.header .bottom .gnb li a span {
  font-size: 17px;
  font-weight: 500;
  color: white;
}
.header .bottom .gnb li a span:lang(en) {
  font-weight: 700;
}
.header .bottom .gnb li.category a {
  gap: 10px;
}
