/* html,
body {
  position: relative;
  height: 100%;
} */

body {
  /* background: #eee; */
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;

  height: 712px;
  /* height: 100%; */
  /* margin-top: 104px; */
  overflow: visible !important;
  overflow-x: clip !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 980px !important;
}

.slide1_img_bg {
  /* content: ""; */
  width: 1095px;
  height: 712px;
  position: absolute;
  top: -16px;
  left: -16px;
  background-color: #edf0f8;
  border: 1px solid #6a84c2;
  border-radius: 5px;
  z-index: -1;
}
.slide-img {
  /* background-image: url("../image/banner2.png"); */
  width: 1064px;
  height: 680px;
}
.content-box {
  /* color: #ffffff;
  padding-right: 80px;
  padding-top: 72px;
  text-align: right; */
  position: relative;
}

.content-box img {
  position: absolute;
  /* top: 35px;
  left: 32px; */
  left: -16px;
  top: -16px;
  padding: 16px;
  &.userA {
    border: 1px solid #6a84c2;
    border-radius: 5px;
    background-color: #edf0f8;
  }
}
.content-box .banner-txt {
  font-size: 50px;
}
.content-box .sub-txt {
  font-size: 18.92px;
  font-weight: 500;
}
.content-box .sub-txt span {
  font-family: "helvetica";
}
.content-box .main-txt {
  font-size: 53.12px;
  font-family: "helvetica";
  font-weight: 500;
}
.content-box .detail {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  padding: 13px 30px;
  background-color: #e23338;
  border-radius: 20px;
  color: #ffffff;
}
.content-box .txt-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
}

.date {
  font-size: 16.4px;
  padding-top: 190px;
}
.date span {
  font-family: "helvetica";
  font-weight: 500;
}
.banner-top-box {
  position: absolute;
  left: 601px;
  top: -45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}
.banner-top-box .banner-top-title {
  height: 25px;
  font-size: 12px;
  font-family: "ITC";
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding: 7px 21px;
  background-color: #dc3437;
  border-radius: 15px;
}
.swiper-pagination {
  position: static;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  gap: 4px;
  background-color: #ffffff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: dodgerblue !important;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  align-items: center;
  width: auto;
  bottom: auto;
  top: auto;
  gap: 9px;
}
.swiper-button-prev {
  width: 37px;
  height: 42px;
  /* background-image: url("../image/prev_btn_ico.png"); */
  left: 287px !important;
}
.swiper-button-next {
  width: 37px;
  height: 42px;
  /* background-image: url("../image/next_btn_ico.png"); */
  right: 287px !important;
}
.swiper-button-prev:after {
  font-size: 0;
  display: none;
}
.swiper-button-next:after {
  font-size: 0;
  display: none;
}

.slide-btn {
  width: 140px;
  height: 30px;
  position: absolute;
  right: 24px;
  top: 800px;
  z-index: 100;
}
.slide-btn ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slide-btn li {
  /* width: calc(100% / 3); */
}
.slide-btn li:nth-child(1) {
  margin-right: 10px;
}
.slide-btn li:nth-child(2) {
  width: 64px;
  height: 35px;
  margin-right: 2px;
  color: white;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 6px;
  background-color: rgba(255, 255, 255, 0.3);
  border-start-start-radius: 18px;
  border-bottom-left-radius: 18px;
  top: 0 !important;
  left: 39px !important;
}
.slide-btn img {
  width: 100%;
}
.start {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 32px;
  height: 20px;
}
.num-btn {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.num-btn-left {
  position: absolute;
  top: 0%;
  left: 0%;
  color: #ffffff;
  font-weight: 600;
  padding-left: 18px;
  padding-top: 10px;
  font-size: 12px;
}
.num-btn-section {
  position: absolute;
  top: 0%;
  left: 0%;
  padding-left: 30px;
  padding-top: 10px;
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
}
.num-btn-right {
  position: absolute;
  top: 0%;
  left: 0%;
  color: #ffffff;
  font-weight: 500;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 12px;
}
.slide-btn .start {
  display: none;
}
